.hero{
    background-color: #fff;
    padding: 50px;
}

input[type="date"]{
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

.center{
    margin: auto;
}

@media(max-width:400px){
    .login-box{
        width: 100%;
        padding: 15px;
    }
}